---
layout: layouts/base.njk
---
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-11-mobile is-10-tablet is-8-desktop is-7-widescreen">
        <div class="content">
          {{ content | safe }}
        </div>
      </div>
    </div>
  </div>
</section>
