---
layout: layouts/base.njk
pageTitle: 404 - Seite nicht gefunden
permalink: "/404.html"
---

<section class="section">
  <div class="container">
    <h1 class="title">404</h1>
    <p>Die angeforderte Seite wurde nicht gefunden.</p>
    <p class="mt-4"><a href="/">Zur Startseite</a></p>
  </div>
</section>
